-- Create zoom_recordings table
CREATE TABLE IF NOT EXISTS public.zoom_recordings (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    course_id TEXT NOT NULL,
    title TEXT NOT NULL,
    url TEXT NOT NULL,
    date TEXT,
    host TEXT,
    upload_batch_id TEXT,
    transcript_processed BOOLEAN DEFAULT FALSE,
    transcript_error TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE
);

-- Create index on user_id for faster queries
CREATE INDEX IF NOT EXISTS idx_zoom_recordings_user_id ON public.zoom_recordings(user_id);

-- Create index on upload_batch_id for faster batch queries
CREATE INDEX IF NOT EXISTS idx_zoom_recordings_batch_id ON public.zoom_recordings(upload_batch_id);

-- Create zoom_transcripts table
CREATE TABLE IF NOT EXISTS public.zoom_transcripts (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    recording_id UUID NOT NULL REFERENCES public.zoom_recordings(id) ON DELETE CASCADE,
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    transcript_data JSONB NOT NULL,
    formatted_text TEXT NOT NULL,
    segment_count INTEGER NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create index on recording_id for faster queries
CREATE INDEX IF NOT EXISTS idx_zoom_transcripts_recording_id ON public.zoom_transcripts(recording_id);

-- Create index on user_id for faster queries
CREATE INDEX IF NOT EXISTS idx_zoom_transcripts_user_id ON public.zoom_transcripts(user_id);

-- Enable Row Level Security
ALTER TABLE public.zoom_recordings ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.zoom_transcripts ENABLE ROW LEVEL SECURITY;

-- Drop existing policies for zoom_recordings before creating new ones
DROP POLICY IF EXISTS "Users can view their own recordings" ON public.zoom_recordings;
DROP POLICY IF EXISTS "Users can insert their own recordings" ON public.zoom_recordings;
DROP POLICY IF EXISTS "Users can update their own recordings" ON public.zoom_recordings;
DROP POLICY IF EXISTS "Users can delete their own recordings" ON public.zoom_recordings;

-- Create RLS policies for zoom_recordings
CREATE POLICY "Users can view their own recordings" 
ON public.zoom_recordings
FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY "Users can insert their own recordings" 
ON public.zoom_recordings
FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update their own recordings" 
ON public.zoom_recordings
FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY "Users can delete their own recordings" 
ON public.zoom_recordings
FOR DELETE USING (auth.uid() = user_id);

-- Drop existing policies for zoom_transcripts before creating new ones
DROP POLICY IF EXISTS "Users can view their own transcripts" ON public.zoom_transcripts;
DROP POLICY IF EXISTS "Users can insert their own transcripts" ON public.zoom_transcripts;
DROP POLICY IF EXISTS "Users can update their own transcripts" ON public.zoom_transcripts;
DROP POLICY IF EXISTS "Users can delete their own transcripts" ON public.zoom_transcripts;

-- Create RLS policies for zoom_transcripts
CREATE POLICY "Users can view their own transcripts" 
ON public.zoom_transcripts
FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY "Users can insert their own transcripts" 
ON public.zoom_transcripts
FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update their own transcripts" 
ON public.zoom_transcripts
FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY "Users can delete their own transcripts" 
ON public.zoom_transcripts
FOR DELETE USING (auth.uid() = user_id);
